@font-face {
    font-family: vazir-Thin;
    src: url(../font/vazir/vazir-Thin.woff);
}

body{
    background-image : url("../img/background.png");
    background-size : cover;
    background-position : center;
    font-family : vazir-Thin;
}

.ui.two.column.centered.grid{
    display: flex;
    align-items: center;
    height :100vh;
    margin:0px;
}
.swal2-title, .swal2-styled.swal2-confirm{
    font-family: vazir-Thin;
}
table{
    width: 100%;

}

.ui.table thead th{
    background-color: #512da8;
    color: white;

}

.ui.table thead th:nth-child(4) , .ui.table tbody td:nth-child(4) {
    text-align: center ;
}
.ui.button, #delete-button{
    cursor: pointer;
    font-family: vazir-Thin;
    color: white;
    padding: 5px;
    font-size: 10px;
}
a, a:hover{
    color: white;
}

#regButton{
    margin-top: 25px;
    padding: 10px;
}

#regUrl{
    font-size: 14px ;
}

h2.ui.header{
    font-family: vazir-Thin;
    border-bottom: 1px solid rgba(161, 161, 161, 0.3);
    padding-bottom: 12px;
}

#delete-form{
    display: inline-block;
}

@media only screen and (max-width: 990px) {
    .ui.button{
        margin: 10px 0;
        height: 30px;
        width: 100%;
    }
    #delete-form{
        width: 100%;
    }
}
